
<table style="text-align:center"><caption><strong>Bootstrap fwl</strong></caption>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td>Length</td><td>Class</td><td>Mode</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">1</td><td>t0</td><td>Length</td><td>1</td></tr>
<tr><td style="text-align:left">2</td><td>t</td><td>Length</td><td>1000</td></tr>
<tr><td style="text-align:left">3</td><td>R</td><td>Length</td><td>1</td></tr>
<tr><td style="text-align:left">4</td><td>data</td><td>Length</td><td>40</td></tr>
<tr><td style="text-align:left">5</td><td>seed</td><td>Length</td><td>626</td></tr>
<tr><td style="text-align:left">6</td><td>statistic</td><td>Length</td><td>1</td></tr>
<tr><td style="text-align:left">7</td><td>sim</td><td>Length</td><td>1</td></tr>
<tr><td style="text-align:left">8</td><td>call</td><td>Length</td><td>4</td></tr>
<tr><td style="text-align:left">9</td><td>stype</td><td>Length</td><td>1</td></tr>
<tr><td style="text-align:left">10</td><td>strata</td><td>Length</td><td>15856</td></tr>
<tr><td style="text-align:left">11</td><td>weights</td><td>Length</td><td>15856</td></tr>
<tr><td style="text-align:left">12</td><td>t0</td><td>Class</td><td>-none-</td></tr>
<tr><td style="text-align:left">13</td><td>t</td><td>Class</td><td>-none-</td></tr>
<tr><td style="text-align:left">14</td><td>R</td><td>Class</td><td>-none-</td></tr>
<tr><td style="text-align:left">15</td><td>data</td><td>Class</td><td>tbl_df</td></tr>
<tr><td style="text-align:left">16</td><td>seed</td><td>Class</td><td>-none-</td></tr>
<tr><td style="text-align:left">17</td><td>statistic</td><td>Class</td><td>-none-</td></tr>
<tr><td style="text-align:left">18</td><td>sim</td><td>Class</td><td>-none-</td></tr>
<tr><td style="text-align:left">19</td><td>call</td><td>Class</td><td>-none-</td></tr>
<tr><td style="text-align:left">20</td><td>stype</td><td>Class</td><td>-none-</td></tr>
<tr><td style="text-align:left">21</td><td>strata</td><td>Class</td><td>-none-</td></tr>
<tr><td style="text-align:left">22</td><td>weights</td><td>Class</td><td>-none-</td></tr>
<tr><td style="text-align:left">23</td><td>t0</td><td>Mode</td><td>numeric</td></tr>
<tr><td style="text-align:left">24</td><td>t</td><td>Mode</td><td>numeric</td></tr>
<tr><td style="text-align:left">25</td><td>R</td><td>Mode</td><td>numeric</td></tr>
<tr><td style="text-align:left">26</td><td>data</td><td>Mode</td><td>list</td></tr>
<tr><td style="text-align:left">27</td><td>seed</td><td>Mode</td><td>numeric</td></tr>
<tr><td style="text-align:left">28</td><td>statistic</td><td>Mode</td><td>function</td></tr>
<tr><td style="text-align:left">29</td><td>sim</td><td>Mode</td><td>character</td></tr>
<tr><td style="text-align:left">30</td><td>call</td><td>Mode</td><td>call</td></tr>
<tr><td style="text-align:left">31</td><td>stype</td><td>Mode</td><td>character</td></tr>
<tr><td style="text-align:left">32</td><td>strata</td><td>Mode</td><td>numeric</td></tr>
<tr><td style="text-align:left">33</td><td>weights</td><td>Mode</td><td>numeric</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr></table>
